.mapWrapper {
  padding: 30px;
}

.container {
  margin: 0 auto !important;
  width: 800px;
  height: 1000px;
  overflow: hidden;
  background-color: #fff;
}

.geojsonToggle {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 10000;
  margin-top: 20px;
  background: white;
  color: #000000;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}